################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/NeuralNetwork/.vs/NeuralNetwork
/NeuralNetwork/NeuralNetwork/x64/Debug
